<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <div
      class="flex h-screen bg-gray-50 dark:bg-gray-900"
      :class="{ 'overflow-hidden': isSideMenuOpen }"
    >
      <%- include('partials/aside.ejs') %>

      <div class="flex flex-col flex-1 w-full">
        <%- include('partials/header.ejs') %>

        <main class="h-full pb-16 overflow-y-auto">
          <div class="container px-6 mx-auto grid">
            <h2
              class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
            >
              Registar
            </h2>
            <!-- CTA -->
            <% if (typeof message !== 'undefined') { %>
            <span class="text-center bg-purple-400 text-black">
              <%= message %>
            </span>
            <% } %>

            <!-- General elements -->
            <form action="/editar/<%=user._id %> method="POST" class="form register">

              <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
                <label class="block text-sm">
                  <span class="text-gray-700 dark:text-gray-400">Nome</span>
                  <input
                    class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                    type="text"
                    name="name"
                    value="<%= user.name %>"
                    placeholder="Digite seu Nomer"
                  />
                </label>

                <label class="block text-sm mt-4 text-sm">
                  <span class="text-gray-700 dark:text-gray-400">Idade</span>
                  <input
                    class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                    type="text"
                    name="age"
                    value="<%= user.age %>"
                    placeholder="Digite sua idade"
                  />
                </label>

                <label class="block text-sm mt-4 text-sm">
                  <span class="text-gray-700 dark:text-gray-400">Email</span>
                  <input
                    class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                    type="email"
                    name="email"
                    value="<%= user.email %>"
                    placeholder="Digite seu email"
                  />
                </label>

                <label class="block mt-4 text-sm">
                  <div
                    class="relative text-gray-500 focus-within:text-purple-600"
                  >
                    <button
                      class="bg-purple-600 hover:bg-purple-700 right-0 text-white font-bold py-2 px-4 rounded"
                      type="submit"
                    >
                      Registar
                    </button>
                  </div>
                </label>
               </div>
            </form>
          </main>
        </div>
      </div>
  </body>
</html>
